<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="guru.springframework.controllers" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="au.com.aupost.suburbmanager.api" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.security" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

</configuration>